body{
    padding: 0;
    margin: 0;
}

/* fonts */
@font-face {
    font-family: 'SemiBold';
    src: url('../fonts/OpenSans-Semibold.woff') format('woff2'),
        url('../fonts/OpenSans-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Bold';
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Regular';
    src: url('../fonts/OpenSans.woff2') format('woff2'),
        url('../fonts/OpenSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'R-Medium';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

.small_logo_wrapper{ background: #fdfbef; display: none;}
.container{ max-width: 1570px; width: 100%; margin: auto; }
.container-fluid{ background: url("../images/TopBannerBg.jpg") no-repeat; background-size: cover; background-position: center bottom; }
 .top-banner-wrapper{ display: flex; flex-direction: column;  min-height: 980px; }
 .top-banner-wrapper .logo-wrapper{ margin-top: 60px;  }
  .content-text{ font-family: "SemiBold"; font-size: 54px; color: #213140; margin:0;}
  .content-text span{ color: #dd1f2a; margin-bottom: 0;}
 .top-banner-wrapper .call-us-wrapper{ display: flex; margin-top: auto; align-items: center;}
 .top-banner-wrapper .call-us-wrapper .image-wrapper{ width: 285px; height: auto;}
 .top-banner-wrapper .call-us-wrapper .image-wrapper img{ max-width: 100%; height: auto; vertical-align: middle;}
 .top-banner-wrapper .call-us-wrapper .contact-number{ border-left: 3px solid #213140; padding-left: 8px;
margin-top: 120px; margin-left: 24px;}
.top-banner-wrapper .call-us-wrapper .contact-number h1{  font-family: "Bold"; margin: 0;
color: #dd1f2a; font-size: 46px; line-height: 44px;}
.top-banner-wrapper .call-us-wrapper .contact-number p{  font-family: "Bold"; margin: 0;
color: #080808; font-size: 30px;}
.service-wraper{ background-size: cover; background-position: center top; background: #e4fcc8; background-image: url(../images/serviceBg.jpg) , linear-gradient(#e6fecc, #f8f6f9);}

/* blk 2 */
.title-part h2{  font-family: "Regular"; font-size: 48px; margin: 0; line-height: 48px;}
.title-part h2 span{  font-family: "Bold"; font-size: 60px;}
.title-part p{ font-family: "SemiBold"; font-size: 22px; color: #181925; margin: 12px 0; line-height: 30px;}
.title-part p span{ font-family: sans-serif; font-weight: 800; color: #dd1f2a;}
.service-product-wrapper{ box-shadow: 0px 5px 15px 2px #ababab; background: #fff; padding: 45px;}
 .service-product-wrapper .gallery-part{ display: flex; justify-content: space-between; margin-top: 20px;}
 .service-product-wrapper .gallery-part .image-box{ width: 23%; border: 1px solid #cac7c7;
display: flex; padding: 8px; box-sizing: border-box; align-items: stretch; justify-content: center;}
.service-product-wrapper .gallery-part .image-box img{ max-width: 100%;}
.brand-fixed-wrapper{ margin-top: 60px;}
.brand-fixed-wrapper .brands-wrapper { display: flex; justify-content: space-between; flex-wrap: wrap; margin-top: 40px;}
.brand-fixed-wrapper .brands-wrapper .brands{ min-height: 80px; background: #fff; box-shadow: 0px 0px 5px 0px #d8d8d8;
padding: 10px; box-sizing: border-box; width: 23.5%; justify-content: center;
display: flex; align-items: center; margin: 1%; }
.brand-fixed-wrapper .brands-wrapper .brands img{ max-width: 100%;}
.brand-fixed-wrapper .brands-wrapper .brands:nth-child(n+1){ margin-left: 0; }
.brand-fixed-wrapper .brands-wrapper .brands:nth-child(n+4){ margin-right: 0; }
  /* Tv selling */
.tv-selling-wrapper{ display: flex; justify-content: space-between; align-items: center; margin-top: 50px;}
.tv-selling-wrapper .title-part{  width: 50%;}
.tv-selling-wrapper .tv-image-wr img{  max-width: 100%;}
.servicing-area-wrapper{ display: flex; justify-content: space-between; }
.servicing-area-wrapper .service-image-wrapper{ width: 42%;}
.servicing-area-wrapper .service-image-wrapper img{ max-width: 100%; height: auto;}
.servicing-area-wrapper .map-location-wrapper { width: 55%;}
.servicing-area-wrapper .map-location-wrapper .location-header{ font-family: "Bold"; font-size: 48px; color: #181925; margin: 0;
    line-height: 48px;}
.servicing-area-wrapper .map-location-wrapper ul{ display: inline-flex; flex-wrap: wrap; padding-left: 0px; }
.servicing-area-wrapper .map-location-wrapper ul li{ background: url(../images/loction-icon.jpg) no-repeat;
    background-position: left; list-style: none; padding: 3px; padding-left: 20px;
color:#3c3c3c; font-family: "Bold"; font-size: 30px; text-transform: uppercase; min-width: 215px;}
.servicing-area-wrapper .map-location-wrapper p{ color: #181925; font-family: "Regular"; font-size: 30px; margin: 0;}
.contact-wrapper{ background: url('../images/footerBg.png') no-repeat center bottom; background-size: cover; }
.contact-wrapper .contact-inner-portion { padding-top: 80px; display: flex; justify-content: space-between;}
.contact-wrapper .contact-inner-portion .left-portion{ background: url(../images/bottomContactIdle.png) no-repeat left bottom;
    background-size: 430px; width: 50%; display: flex; box-sizing: border-box; padding-left: 240px;}
.contact-wrapper .contact-inner-portion .left-portion h2{ color: #181925; font-family: "Bold"; font-size: 30px; margin-top: auto;
 margin-bottom: 85px; }
 .contact-wrapper .contact-inner-portion .left-portion h2 span{ color: #dd1f2a;}
.contact-wrapper .contact-inner-portion .right-portion{ width: 50%; margin-bottom: 80px;}
.contact-wrapper .contact-inner-portion .right-portion .cns_header{ font-family: "SemiBold"; font-size: 38px; color: #000; text-transform: uppercase; margin-top: 0; }
.contact-wrapper .contact-inner-portion .right-portion form{ display: flex;  justify-content: space-between;}
.contact-wrapper .contact-inner-portion .right-portion .form-divition{ width: 49%; align-items: flex-end; display: flex;
flex-direction: column;}
.contact-wrapper .contact-inner-portion .right-portion .form-divition input,
.contact-wrapper .contact-inner-portion .right-portion .form-divition textarea,
.contact-wrapper .contact-inner-portion .right-portion .form-divition select
{ width: 100%; padding:14px; box-sizing: border-box; border: 1px solid #bfbfbf; margin-bottom: 20px; background: #fff!important;
font-family: "SemiBold"; color: #404040; font-size: 18px; }
.contact-wrapper .contact-inner-portion .right-portion .form-divition input:focus,
.contact-wrapper .contact-inner-portion .right-portion .form-divition select,
.contact-wrapper .contact-inner-portion .right-portion .form-divition textarea:focus{ outline: none; }
.contact-wrapper .contact-inner-portion .right-portion .form-divition button{  background: #19bcd9; width: 160px; padding: 6px 14px;
font-size: 30px; font-family: "R-Medium"; color: #fff; text-transform: capitalize; border: none; outline: none; cursor: pointer;}

.smallview{ display: none; }

.footer-wrapper .linkwra{ width: 100%; box-sizing: border-box; text-align: center; margin: auto; padding: 36px;}
.footer-wrapper .linkwra a{  color: #5c5d5d; font-size: 14px; font-family: "Regular"; margin: 10px; text-decoration: none; }
.footer-wrapper .linkwra a:last-child{ cursor: inherit; }